<h1>{{isEdit ? "Update" : "Add"}} Product</h1>
<h1></h1>
<div class="my-3 border border-3 p-4 mb-3">
  <form
    (ngSubmit)="onSubmit(); productForm.reset()"
    #productForm="ngForm"
    class="mui-form"
  >
    <div class="mb-3">
      <mat-form-field class="mui-form-field">
        <mat-label>Product name</mat-label>
        <input
          matInput
          type="text"
          required
          #validName="ngModel"
          [(ngModel)]="name"
          name="name"
          placeholder="Add product name"
        />
        <mat-error
          *ngIf="validName.invalid && (validName.dirty || validName.touched)"
          class="mui-error"
        >
          Please enter product name
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="mui-form-field">
        <mat-label>Product price</mat-label>
        <input
          matInput
          type="number"
          min="1"
          required
          #validPrice="ngModel"
          [(ngModel)]="price"
          name="price"
          placeholder="Add product price"
        />
        <mat-error
          *ngIf="validPrice.errors?.['required']"
          class="mui-error"
        >
          Please enter price
        </mat-error>
        <mat-error
          *ngIf="validPrice.errors?.['min']"
          class="mui-error"
        >
          Please enter value greater than 0
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="mui-form-field">
        <mat-label>Product quantity</mat-label>
        <input
          matInput
          type="number"
          min="1"
          max="500"
          required
          #validQuantity="ngModel"
          [(ngModel)]="quantity"
          name="quantity"
          placeholder="Add quantity"
        />
        <mat-error
          *ngIf="validQuantity.errors?.['required']"
          class="mui-error"
        >
          Please enter quantity
        </mat-error>
        <mat-error
          *ngIf="validQuantity.errors?.['min']"
          class="mui-error"
        >
          Please enter value greater than 0
        </mat-error>
        <mat-error
          *ngIf="validQuantity.errors?.['max']"
          class="mui-error"
        >
          Please enter value less than or equal to 500
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="mui-form-field">
        <mat-label>Manufactured date</mat-label>
        <input
          matInput
          type="date"
          [max]="date | date:'yyyy-MM-dd'"
          #validManDate="ngModel"
          required
          [(ngModel)]="manDate"
          name="manDate"
        />
        <mat-error
          *ngIf="validManDate.errors?.['required']"
          class="mui-error"
        >
          Please enter Manufacture Date
        </mat-error>
        <mat-error
          *ngIf="validManDate.errors?.['max']"
          class="mui-error"
        >
          Please enter valid Manufacture Date 
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field class="mui-form-field">
        <mat-label>Expiry date</mat-label>
        <input
          matInput
          type="date"
          [min]="date | date:'yyyy-MM-dd'"
          #validExpDate="ngModel"
          required
          [(ngModel)]="expDate"
          name="expDate"
        />
        <mat-error
          *ngIf="validExpDate.errors?.['required']"
          class="mui-error"
        >
          Please enter Expiry Date
        </mat-error>
        <mat-error
          *ngIf="validExpDate.errors?.['min']"
          class="mui-error"
        >
          Please enter valid Expiry Date
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mb-3">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select required name="category" [(ngModel)]="category" #validCategory="ngModel">
              <mat-option value="Electronic">Electronic</mat-option>
              <mat-option value="Stationary">Stationary</mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            <mat-error
            *ngIf="validCategory.invalid && (validCategory.dirty || validCategory.touched)"
            class="mui-error"
            >
            Please Select Category
        </mat-error>
    </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-radio-group class="mui-radio-group" name="freshness" [(ngModel)]="freshness">
        <mat-radio-button
          class="mui-radio-button"
          value="Brand New"
          checked
        >
          Brand new
        </mat-radio-button>
        <mat-radio-button class="mui-radio-button" value="Second Hand">
          Second Hand
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="mb-3">
      <mat-checkbox class="mui-checkbox" name="available" [(ngModel)]="available">
        Available
      </mat-checkbox>
    </div>
    <div class="mb-3">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!productForm.form.valid"
        id="btn-add"
      >
        {{isEdit ? "Update" : "Add"}} Product
      </button>
    </div>
  </form>
</div>